/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
    font-size: var(--text-xl);
  }
  
  .heroes-menu {
    padding: 0;
    margin: var(--space-sm) var(--space-sm);
    max-width: 100%;
    align-items: center;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  a {
    text-align: center;
    text-decoration: none;
    font-size: var(--text-md);
    color: hsl(var(--text-secondary));
    padding: var(--space-sm) var(--space-xs);
    
    width: 100%;
    border-radius: var(--radius-xs);
    background-color: hsla(var(--secondary), 0.7);
    margin: var(--space-xs) auto;
  
  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: black;
  }