/* MessagesComponent's private CSS styles */
* {
  margin: var(--space-sm);
}

h2 {
  color: #000044;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.clear {
  color: #333;
  background-color: #eee;
  margin-bottom: var(--space-sm);
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  font-size: var(--text-sm);
}

section {
  display: flex;
  flex-wrap: wrap;
}

.clear:hover {
  color: white;
  background-color: hsla(var(--secondary), 0.8);
}

#message {
  margin-left: var(--space-md);
}

@media (max-width:600px) {
  .clear {
    margin-top: -(var(--space-xs));
  }
}